body {

    background-image: url('../img/sombra-de-folhas-no-pano-de-fundo-branco.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;


}


ul {
    width: 100%;
    display:flex;
   justify-items: center;
    list-style: none;
    padding: 25px 0;
    border-radius: 25px;
    border: 0.1px solid #3e7946;
    background-color: transparent;
   
}

li {
   
    margin-right: 100px;
    color: #3e7946;
    font-size: 25px;
    cursor: pointer;
}

.logotipoH {
    margin-left: 20%;
    width: 50%;
    height: 80%;
} 

div {
margin: 10px;
color:rgb(10, 65, 31);
}

img {
width: 30%;
margin: calc(10%/6)
}

a {
    color:#3e7946;
    text-decoration: none;
}

a:hover {
    color: darkgreen;
    text-decoration: underline;

}

nav,h2 {
    text-transform: uppercase;
    color:#3e7946;
    border-bottom: 2px solid #3e7946;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 1em 0;
}


